.new-game {
  width: 170px;
  height: 170px;
  margin: 60px auto 0;

  border: 2px solid #ff12f3;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0px 0px 60px #ff12f3;

  font-size: 20px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  opacity: 1;
  transition: all .3s linear;
}

.new-game:hover {
  border: 2px solid #00ff80;
  box-shadow: 0px 0px 60px #00ff80;
}

.new-game.inactive {
  opacity: 0;
}

@media (orientation: portrait) and (max-aspect-ratio: 2/3) {
  .new-game {
    width: 34vw;
    height: 34vw;
  }
}