.mask {
  width: 100vw;
  height: 100vh;
  background-color: #000000;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  opacity: 0;

  transition: opacity .2s linear;
}

.mask.active {
  background-color: #000000;
  z-index: 1;
  opacity: .8;
}

.mask.blackout {
  z-index: 1;
  opacity: .0;
}